{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/leaflet/0.7.7/leaflet.css' %}" />

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="{% static 'vendor/sweetalert-master/dist/sweetalert.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/sweetalert-master/dist/sweetalert.css' %}" />

<script src="{% static 'vendor/leaflet/0.7.7/leaflet.js' %}"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script type="text/javascript">
  var COUNTRIES_DATA_JSON_URL = "{% static 'map/ne-countries-50m.json' %}";
</script>

<script src="{% static 'map/main.js' %}"></script>

<h1>Mapping Smuggling Networks</h1>

<div style="float:left;" id="map"></div>

<div style="float:left;"id="itinerary">
	<button id='startOver'>Start Over</button>
	<button id='endTrip'>End Trip</button>
<h2>Your Itinerary</h2>
<ol id="itineraryList"></ol>

</div>
