{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/leaflet/0.7.7/leaflet.css' %}" />

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="{% static 'vendor/sweetalert-master/dist/sweetalert.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/sweetalert-master/dist/sweetalert.css' %}" />

<script src="{% static 'vendor/leaflet/0.7.7/leaflet.js' %}"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script type="text/javascript">
  var COUNTRIES_DATA_JSON_URL = "{% static 'map/ne-countries-50m.json' %}";
</script>

<script src="{% static 'map/csv.js' %}"></script>
<script src="{% static 'map/main.js' %}"></script>
<script src="{% static 'map/country.js' %}"></script>
<script src="{% static 'map/map.js' %}"></script>


<div id="container">

	<div id="itinerary">
		<div id="itineraryTitle">
			<h2>Your Itinerary</h2>
		</div>
		<div id="listOfTripLegs">
			<ul id="itineraryList"></ul>
		</div>
		<div id="buttons">
			<label for="showOlderPrices">Show Older Prices</label>
			<input type="checkbox" id="showOlderPrices" />
			<br>
			<button class="mainButton" id='startOver'><b>Restart</button>
			<button class="mainButton" id='downloadCSV'><b>Download</button>
		</div>
		<div id="logodiv">
			<img id="logo" src="{% static 'map/images/GITOC_logo.jpg' %}"></img>
		</div>
	</div>

	<div id="map"></div>

</div>


